#backGround {
    background-color: #1F1F1F;
    width: 300px;
    height: 360px;
    padding: 60px 50px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}
.titleColor{
    color: rgb(89, 91, 92);
    text-align: center;
}
.form_group{
    width: 280px;
    height: 300px;
    background-color: #1F1F1F;
    border-radius: 5px;
    
}
.btn_invi {
    width: 280px;
    height: 50px;
    background-color: #1F1F1F;
    color: aliceblue;
}
.font {
    color: #6a6868;
    text-align: center;
    font-size: 14px;
}
.font1 {
    text-align: center;
    font-size: 14px;
    padding: 0px;
}
.buttons {
    width: 280px;
    height: 50px;
    background-color: #fff;
    border-radius: 5px;
    line-height: 42px;
    border-bottom: 0;
    padding: 0 10px;
    font-size: 16px;
    box-sizing: border-box;
    margin-bottom: 15px;
    color: #868686;
}
#phone{
    margin-top: 20px;
}
.button_register {
    width: 280px;
    height: 50px;
    background-color: #FF6400;
    border-radius: 5px;
    line-height: 42px;
    border-bottom: 0;
    padding: 0 10px;
    font-size: 16px;
    box-sizing: border-box;
    margin-bottom: 15px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font: bold;
    text-align: center;
}
.text-area {
    width: 270px;
    height: 20px;
    margin: 0px;
    background: #1F1F1F;
    position: relative;
    top: -11px;
    padding: 0 5px; 
    border-bottom: 1px solid #a4a8aa;

}
.text1{
    text-align: center;
    margin-bottom: 0px;
    color: #858181;
    
}
#facebook {
    margin-top: 20px;
    background-color: #3B5998;
}
#google {
    margin-top: 20px;
    background-color: #DD4B39;
}
.backGround2 {  
    background-color: #1F1F1F;
    width: 300px;
    height: 125px;
    padding: 60px 50px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    margin: -16px 0 0;
    margin-left: auto;
    margin-right: auto;
}