<mat-toolbar>
  <div class="dropdown">
    <button class="dropbtn" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"> 
      <mat-icon>menu</mat-icon>  
    </button>
    <div class="dropdown-content">
      <a href="https://www.facebook.com/trong.phamtranduc">Loại 1</a>
      <a href="https://www.facebook.com/dong.ducmanh.1">Loại 2</a>
      <a href="https://www.facebook.com/huynh.huuuu/">Tú Bà</a>
    </div>
  </div>
    <span>Peach's list</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
