<div class="info">
    <img id="img"[src]="girl.photourl">
    <p>{{ girl.name }}</p>
    <p>{{girl.age}}</p>
    <p>{{girl.price}}/h</p>
    <p>Rent for {{girl.timelimit}}hrs</p>
    <!-- <app-counter [counter]="girl.timelimit" (itemChange)="girl.timelimit = $event" ></app-counter> -->
    <div>
        <button (click)="increase()" >
            +
        </button>
        <p>{{girl.timelimit}}</p>
        <button (click)="decrease()" >
            -
        </button>
    </div>
    <form>
        <input  style="width: 120px;height: 30px; margin: 20px 0px 0px 40px;"id="total" name="total" disabled [(ngModel)]="girl.price * girl.timelimit" > VND<br>
    </form>
    <button class="rent" style="font-size: 30px; margin: 40px 0px 15px 0px; background-color: aquamarine;">Rent</button>
</div>
 

