.info{
    border: 1px solid;
    text-align: center;
    background-color: peachpuff;
}
#img{
    height:200px;
    width: 200px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}
.rent{
    margin-top: auto;
    margin-bottom: auto;
    
}


