<div class="layout">
    <div class="container">
    <img [src]="item.photourl">
    <p class="name">{{item.name}}</p>
    <p *ngIf="item.price != '0'" class="price">{{item.price | number}} vnđ</p>
    <p *ngIf="item.price  == '0'" class="price">Free</p>
    <p class="quantity">SL: {{item.quantity}}</p>
        <button class="cart" mat-stroked-button color="primary">Buy</button>
        <div class="count">
        <button class="mark" (click)="increase()">+</button>
        <p class="number">{{item.quantity}}</p>
        <button class="mark"(click)="decrease()">-</button>
</div>
    
</div>
</div>
