.container{
        width: 500px;
        height: 450px;
        border-style: solid;
        margin-left: 10px;
        margin-bottom: 20px;
        
}
img {
    margin: 10px 10px 20px 25px;
    width: 90%;
    height: 50%;
}

.name{
    font-size: 14pt;
    margin-left: 25px;
}
.price{
    font-size: 14pt;
    margin-top: 10px;
    margin-bottom: 10px;
    float: right;
    margin-right: 25px;
}
.cart{
    margin-left: 220px;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
.count{
    display: flex;
    width: 200px;
    height: auto;
    margin-left: 150px;
}
.number{
    margin: 10px 20px 10px 20px;
}
.mark{
    width: 300px;
    height: auto;
    background-color: whitesmoke;
}
.mark:hover{
    background-color: white;
}
.mark:focus{
    outline: none;
}
.cart:hover{
    background-color: rgb(216, 209, 209);
}
.cart:focus{
    outline: none;
}
.quantity{
    text-align: left;
    margin-top: 50px;
    margin-bottom: 0px;
    margin-left: 25px;
    font-size: 15px;
}
