
.container{
        width: 400px;
        height: 350px;
        border-style: solid;
        margin-left: 10px;
        margin-bottom: 20px;
}
img {
    margin: 10px 10px 20px 20px;
    width: 90%;
    height: 50%;
}
// .button{
//     width: 490px;
//     margin-left: 170px;
//     ;
// }
.name{
    font-size: 14pt;
    margin-left: 20px;
}
.price{
    font-size: 14pt;
    margin-top: 10px;
    margin-bottom: 10px;
    float: right;
    margin-right: 20px;
}
.cart{
    margin-left:170px;
    margin-top:50px;
    margin-bottom: 10px;
    
}
