<p>
    <mat-toolbar style="background-image: url(../../../assets/images/kny.jfif);;">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon style="color: yellow;">menu</mat-icon>
      </button>
      <span style="color: yellow;">TT FIGURE</span>
      <span class="example-spacer"></span>
     
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon style="color: white;">favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon style="color: white;">share</mat-icon>
      </button>
    </mat-toolbar>
  </p>
