.circle{
    width: 200px;
    height: 200px;
    position: relative;
    border-radius: 50%;
    margin-right: 20px;
    margin-top: 20px;
    animation: move 4s 100ms infinite alternate forwards;
}
@keyframes move{
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(90deg);
    }
    50%{
        transform: rotate(180deg);
    }
    75%{
        transform: rotate(270deg);
    }
    100%{
        transform: rotate(360deg);
    }
}